@mixin middle {
  display: flex;
  justify-content: center;
  align-items: center;
};

.menubar {
  width: 245px;
  height: 100vh;
  position: fixed;
  top:0;
  background-color: #303a51;
  z-index: 7;
  border-bottom: 2px solid #EAEAEA;
  display: flex;
  flex-direction: column;

  .mainmenu {
    margin-bottom: 70px;
    overflow-y: auto;

    > .inner {
      display: flex;
      flex-direction: column;

      .mainbox {
        @include middle;
        height: 80px;

        img {
          width: 185px;
        }
        img:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }

      .box {
        height: 52px;
        padding-left: 30px;
        display: flex;
        align-items: center;

        img {
          max-width: 20px;
          max-height: 20px;
          margin: 0 10px;
        }
        p {
          margin-left: 10px;
          color: #fff;
          font-size: 15px;
          font-weight: 500;
        }
      }
      .box:hover {
        cursor: pointer;
        background-color: #434959;
      }

      .sub-box {
        padding: 10px;
        padding-left: 69px;
        background-color: #162133;

        .box-row {
          height: 35px;
          display: flex;
          align-items: center;

          .selectrow {
            width: 3px;
            height: 20px;
          }
          p {
            margin-left: 10px;
            font-size: 13px;
            font-weight: 400;
          }
        }
        .box-row:hover {
          opacity: 0.6;
        }
      }
      .sub-box:hover {
        cursor: pointer;
      }
    }  
  }

  .exchange-rate {
    position: absolute;
    bottom: 10px;
    width: 100%;
    z-index: 2;
    @include middle;
    
    .exchange-rate-box {
      width: 90%;
      background-color: #303a51;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;

      
      .bottom-krwbox {
        width: 40%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        p {
          font-size: 16px;
          color: #fff;
        }
      } 
    }
   
  }

}

@media screen and (max-width : 600px) { 
  
}

