@mixin middle {
  display: flex;
  justify-content: center;
  align-items: center;
};

.modal-addinput {
  width: 80%;
  height: auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 50px;

  // close버튼
  .close {
    display: flex;
    justify-content: end;
    .close-btn {

    }
    .close-btn:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
  
  
  .modal-header {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    p {
      margin-left: 15px;
    }
  }


  section {
    margin-bottom: 20px;
  }
  h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .bottombar {
    width: 100%;
    height: 2px;
    background-color: #333;
  }

  .coverbox {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    
    .coverrow {
      position: relative;
      display: flex;
      align-items: center;

      p {
        margin-left: 20px;
      }
      > .textarea {
        margin-left: 5px;
        font-size: 15px;
        font-weight: normal;
        flex: 1;
        min-height: 180px;
        text-align: start;
        border: 1px solid #E9E9E9;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px;
        outline: none;
      }
      .inputdefault {
        font-size: 15px;
        font-weight: normal;
        height: 40px;
        text-align: left;
        border: 1px solid #E9E9E9;
        box-sizing: border-box;
        border-radius: 5px;
        padding-left: 5px;
      }
      .imagebox {
        width: 100px;
        height: 35px;
        @include middle();
        border: 1px solid #c1c1c1;
        margin-left: 10px;
 
        img {
          width: 100%;
          max-height: 200px;
          object-fit: contain;
        }
  
        .imageDropzoneStyle {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;
    
          div.imageplus {
            font-size: 16px;
            color: #333;
          }
        };
      
      }
      .etcCheckInput {
        display: flex;
        margin: 5px 10px;

        .input {
          margin-right: 5px;
          width: 15px;
          height: 15px;
        }
        p {
          font-size: 14px;
        }
      }
      
      .checkInputCover {
        display: flex;
        align-items: center;
        margin-left: 10px;
        
        .checkInput {
          width: 30px;
          height: 30px; 
          display: flex;
          align-items: center; 
          justify-content: center;
  
          .input {
            width: 20px;
            height: 20px;
          }
        }
        p {
          margin: 0 10px 0 5px;

        }
      }

      .dayBox {
        display: flex;
        padding: 0 5px;
        justify-content: space-between;

        .dayBtn {
          @include middle();
          border: 1px solid #e0e0e0;
          border-radius: 3px;

          > p {
            @include middle();
            font-size: 14px;
            margin: 0;
            padding: 5px 8px;
          }
        }
        .dayBtn:hover {
          border: 1px solid #c8c8c8;
          cursor: pointer;
        }
      }

      .deleteRowBtn {
        width: 20px;
        height: 20px;
        @include middle();
      }
    }

    
  }
  .half {
    width: 50%;
  }
  .hole {
    width: 100%;
  }
  .bigHeight {
    min-height: 200px;
  }

  .imageInputBox {
    width: 100%;
    min-height: 200px;

    .imageDropzoneCover {
      width: 100%;  
      @include middle();
      
      .imageDropzoneStyle {
        width: 150px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: 2px dashed #BDBDBD;
        cursor: pointer;
        margin: 20px 0;
  
        div.imageplus {
          font-size: 14px;
          color: #333;
        }
      };
    }
    
    .imagebox {
      display: flex;
      align-items: center;
      font-size: 16px;

      img {
        width: 70px;
        height: 70px;
      }
      p {
        margin: 0 10px;
      }
      div {
        @include middle();
      }
      .updownBtnBox {
        display: flex;
        margin-left: 5px;
        padding-left: 5px;

        .updownBtnBtn {
          @include middle();
          border: 1px solid #e0e0e0;
          border-radius: 3px;

          > p {
            @include middle();
            margin: 0;
            padding: 5px 10px;
          }
        }
        .updownBtnBtn:hover {
          border: 1px solid #c7c7c7;
          cursor: pointer;
        }
      }
    }
 
  }
  .lastImageInputCover {
    width: 100%;
    display: flex;

    .lastImage-box,
    .lastImage-box-column {
      position: relative;
      width: 100px;
      display: flex;
      align-items: center;
      border: 1px solid #EAEAEA;

      .lastImage-delete {
        width: 100px;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }
      .lastImage-box-column-delete {
        width: 5%;
        @include middle();
      }
    }
    .lastImage-box:hover {
      cursor: pointer;
      border: 1px solid #FF0000;
      .lastImage-delete {
        display: block;
      }
    }
    .lastImage-box-column:hover {
      cursor: pointer;
    }
  }

  .chart-box-cover {
    display: flex;
    border-bottom: 1px solid #d4d4d4;

    .chart-divider-row {
      height: 1px;
      background-color: #d4d4d4;
    }
    .chart-divider {
      width: 1px;
      background-color: #d4d4d4;
    }
    .sort {
      width: 120px;
      font-size: 14px;
      font-weight: 600;
    }
    .chartbox {
      @include middle();
      min-height: 30px;

      .charttext {
        flex: 1;
        text-align: center;
      }
      .chart-textdivider {
        width: 2px;
        min-height: 30px;
        background-color: #d3d3d3;
      }
      
    }
    
  }
  .schedule {
    width: 100%;
    margin-bottom: 20px;

    .top-row {
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #ebebeb;
      padding: 5px 0;

      .daytitle {
        width: 80px;
        padding-left: 10px;

        h1 {
          font-size: 25px;
          font-weight: 600;
        }
      
      }
      .daymeal {
        flex: 1;
        display: flex;
        align-items: center;

        p {
          margin-right: 5px;
        }
        
      }
    }

    .bottom-content {

      .day-area {
        display: flex;

        .left-area {
          position: relative;
          width: 20%;
          height: 100%;
          padding: 10px;
          
          .left-areabox {
            display: flex;
            align-items: center;
          }
          .autoComplete {
            width: 200px;
            position: absolute;
            left: 30px;
            top: 50px;
            background-color: #FFF;
            border: 1px solid #8C8C8C;
            z-index: 9;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .dropDownList {
              height: 40px;
              display: flex;
              align-items: center;
            }
            .dropDownList.selected{
              width: 100%;
              background-color: #EAEAEA;
            }
          }
        }
        
        .input-area {
          width: 80%;
          flex: 1;
          padding: 10px;
          border-left: 1px solid #BDBDBD;
  
          .cover {
  
            .rowbox {
              display: flex;
              align-items: center;
  
              > .textarea {
                margin:10px 5px;
                font-size: 15px;
                font-weight: normal;
                flex: 1;
                min-height: 50px;
                text-align: start;
                border: 1px solid #E9E9E9;
                border-radius: 5px;
                padding: 10px;
                outline: none;
              }
            }
          }
          .btnrow {
            display: flex;
            justify-content: end;
            
            .btn {
              padding: 3px 20px;
              border: 1px solid #EAEAEA;
              border-radius: 5px;
              margin-left: 10px;
              p {
                font-size: 14px;
              }
            }
            .btn:hover {
              cursor: pointer;
              border: 1px solid #9f9f9f;
            }
          }
          .image-row  {
            display: flex;
            img {
              width: 100px;
            }
          }
        }
      }
      
      
      
    }
  
    .inputdefault {
      padding-right: 5px;
      margin: 0 3px;
      text-align: left;
      padding-left: 5px;
    }
  }

  .daybtnrow {
    display: flex;
    justify-content: space-between;

    .daybtn {
      padding: 5px;
      border: 1px solid #EAEAEA;
      border-radius: 5px;
      @include middle();

      p {
        margin-left: 5px;
      }
    }
    .daybtn:hover {
      cursor: pointer;
      border: 1px solid #9f9f9f;
    }
  }
  
  .btn-box {
    display: flex;
    justify-content: end;
    align-items: center;

    .btn {
      padding: 5px 25px;
      border: 1px solid #b1b1b1;
      margin: 0 5px;
      border-radius: 5px;
      background-color: #fff;

      p {
        color: #fff;
      }
    }  
    .btn:hover {
      cursor: pointer;
      border: 1px solid #333;
    }
  }
  .selectInputBtnBox {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    .selectInputBtn {
      width: 120px;
      height: 30px;
      @include middle();
      border-radius: 5px;
      margin-right: 10px;
      border: 1px solid #b1b1b1;
    }
    .selectInputBtn:hover {
      cursor: pointer;
    }
  }

  .selectExmapleBox {
    
    .selectExmapleRow {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      border: 1px solid #BDBDBD;
      border-radius: 10px;
      margin-bottom: 10px;

      .selectExmapleRow-text {
        width: 30%;
        @include middle()
      }
      .selectExmapleRow-img {
        width: 50%;
      }
      .selectExmapleRow-btn {
        width: 20%;
        @include middle();
        p {
          width: 100px;
          height: 40px;
          border: 1px solid #BDBDBD;
          border-radius: 10px;
          @include middle()
        }
      }
    }
    .selectExmapleRow:hover {
      cursor: pointer;
      border: 2px solid #BDBDBD;
    }
  }
}

@media screen and (max-width : 600px) { 
  
  
}

  

  