@mixin middle {
  display: flex;
  justify-content: center;
  align-items: center;
};
$BoxColor-gray: #f5f5f5; 
$BGColor-grayBox: #f5f5f5; 

.modal-reserve {
  width: 90vw;
  max-width: 1400px;
  background-color: #fff;
  border-radius: 20px;
  padding: 25px 40px;
  box-sizing: border-box;

  .reserve-top {
    min-height: 210px;
    height: 20vh;
  }
  .reserve-contents {
    height: 60vh;
    overflow-y: auto; 
  }

  .reserve-top-titleBox {
    display: flex;
    justify-content: space-between;

    h1 {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 20px;
    }
    // close버튼
    .close {
      display: flex;
      justify-content: end;
      .close-btn {

      }
      .close-btn:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }

  // 상태 표시줄
  .state-row {
    display: flex;
    border: 1px solid #EAEAEA;
    padding: 5px;
    background-color: #DBDBDB;

    .textbox {
      height: 25px;
      width: 20%;
      @include middle();

      p {
        font-size: 14px;
      }
    }
    .rotatebox {
      width: 25px;
      height: 25px;
      background-color: #DBDBDB;
      transform: rotate(45deg);
      border-right: 1px solid #fff;
      border-top: 1px solid #fff;
    }
  }

  // 화면 선택 버튼
  .select-row {
    height: 45px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    .select-btn {
      min-width: 100px;
      padding: 3px 15px;
      @include middle();
      border: 1px solid #bebebe;
      border-radius: 20px;
      margin: 0 5px;

      p {
        font-size: 18px;
      }
    }
    .select-btn:hover {
      cursor: pointer;
    }
  }



  // 공통
  section {
    margin-bottom: 30px;

    // 타이틀 
    h1 {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 20px;
    }
    .bottombar {
      width: 100%;
      height: 2px;
      background-color: #333;
    }

    .coverbox {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #e2e2e2;

      .coverrow {
        display: flex;
        align-items: center;

        input {
          text-align:left;
          padding-left: 10px;
        }
        .addBtn {
          font-size: 14px;
          border: 1px solid #BDBDBD;
          border-radius: 5px;
          padding: 5px;
        }
        .addBtn:hover {
          cursor: pointer;
          border: 1px solid #8b8b8b;
        }
      }
      .quarter {
        width: 25%;
      }
      .third {
        width: 33.34%;
      }
      .half {
        width: 50%;
      }
      .hole {
        width: 100%;
      }
      .rightborder {
        border-right: 1px solid #979797;
      }
    }

    p {
      height: 30px;
      font-size: 15px;
      @include middle();
    }
    
    .btn-row {
      padding: 5px 10px;
      border-radius: 3px;
      background-color: #bcbcbc;

      p {
        color:#fff;
        font-weight: bold;
      }
    }
    .btn-row:hover{
      cursor: pointer;
      background-color: #979797;
    }
    
  }

  .userInfo {

    .plusBtnBox {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      padding: 2px 10px;
      margin-left: 20px;
      border: 1px solid #c8c8c8;
      border-radius: 5px;
    }
    .plusBtnBox:hover {
      cursor: pointer;
      border: 1px solid #6b6b6b;
    }

    .content {
      .titlerow {
        background-color: #f6f6f6;
        justify-content: space-between;
        padding: 0 10px;
      }
      .info {
        justify-content: space-between;
        padding: 0 10px;

        .minus-btn-box {
          .minus-btn {
            font-size: 20px;
          }
          .minus-btn:hover {
            cursor: pointer;
            color: red;
          }
        }
      }
      
    }
  }

  .depositState {

    .coverbox {

      .costInput {
        width:50%; 
        margin:0 5px; 
        text-align: right;
        padding-right:5px;
      }
      .defaultBox {
        height: 50px;
        display: flex;
        align-items: center ;
        justify-content: center;
      }
      .depositCheck {
        width:40px;
        height:40px; 
        display:flex; 
        align-items: center; 
        justify-content:center;

        > input {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  
  
  
}

@media screen and (max-width : 600px) { 
  
  
}

  

  