@mixin middle {
    display: flex;
    justify-content: center;
    align-items: center;
  };
  
  .menu2 {
    width: 100vw;
    margin-bottom: 100px;
    
    > .inner {
  
    }
   
  }
  
  
  @media screen and (max-width : 600px) { 
    
    
  }
  
    
  
    