
.resort__search__bar__wrapper {
  @media (max-width: 1000px) {
    display: none;
  }
  width: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  z-index: 10;
  background-color: white;
  border-radius: 11px;
  padding: 0.8vw 1.5vw;
  max-width: 1200px;
  justify-content: space-between;
  margin: 9vw auto 0 auto;
  border: 0.5px solid rgba(99, 99, 99, 1);
  color: rgba(0, 0, 0, 1);
  div:nth-child(4) {
    border: none;
  }
  .search__btn__wrapper {
    padding: 0 1vw;
  }
}


.resort__main__section__wrapper {
  width: 100%;
  @media (max-width: 1000px) {
    height: 100vh;
    overflow: hidden;
  }
  aspect-ratio: 16/9;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .bg__image__wrapper {
    width: 100%;
    height: 100%;
    @media (max-width: 1000px) {
      width: 1240px;
      height: 55vh;
      top: -18px;
    }
    position: absolute;
    background-size: cover;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  .contents__wrapper {
    @media (max-width: 1000px) {
      width: 90%;
    }
    position: absolute;
    width: 80%;
    height: 100%;
    max-width: 1200px;
    .bg__contents__wrapper {
      display: flex;
      color: white;
      margin-top: 22vw;
      margin-left: 2.5vw;
      .web__wrapper {
        @media (max-width: 1000px) {
          display: none;
        }
        display: flex;
        flex-direction: column;
        gap: 1vw;
        .web__wrapper_title {
          font-size: 3vw;
          font-weight: 700;
        }
        .web__wrapper_subtitle {
          font-size: 1.5vw;
        }
      }
      .mobile__wrapper {
        display: none;
        @media (max-width: 1000px) {
          letter-spacing: -1px;
          display: flex;
          flex-direction: column;
          gap: 0.7em;
          margin-top: 9em;
          .mobile__title {
            font-size: 2rem;
            font-weight: 700;
          }
          .mobile__subtitle {
            width: 75%;
            font-size: 1rem;
            line-height: 1.6;
          }
        }
      }
    }
    .bg__select__btns__wrapper {
      @media (max-width: 1000px) {
        padding: none;
        bottom: 55vh;
        left: initial;
        right: 0;
      }
      position: absolute;
      bottom: 10vw;
      left: 2.5vw;
      aspect-ratio: 4;
      color: #ffffff;
      display: flex;
      align-items: center;
      border-radius: 2.5vw;
      justify-content: space-around;
      padding: 0.5vw 2vw;
      background-color: rgba(2, 2, 2, 0.6);
      gap: 1vw;
      .select__indicator {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 2vw;
        span {
          font-size: 1vw;
        }
      }
      .select__btns {
        @media (max-width: 1000px) {
          display: none;
        }
        display: flex;
        align-items: center;
        justify-content: flex-end;
        div {
          height: 1.2vw;
          border-left: 1px solid rgba(117, 117, 117, 1);
        }
        svg {
          height: 1.5vw;
          width: 1.5vw;
        }
      }
    }
  }
  .bg__selector__wrapper {
    @media (max-width: 1000px) {
      display: none;
    }
    position: absolute;
    bottom: 1.5vw;
    right: 1.5vw;
    display: flex;
    gap: 1vw;
    .image__wrapper {
      width: 12vw;
      aspect-ratio: 1.6;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
      &.bg__select {
        border: 2px solid #ffffff;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}



.resort__tour__section__wrapper {
  @media (max-width: 1000px) {
    width: 100%;
    position: relative;
    height: 600px;
    padding: 100px 0;
  }
  @media (min-width: 1000px) {
    display: flex;
    flex-direction: column;
  }
  margin: 0 auto;
  width: 85%;
  padding: 10vw 0;
  .spot__cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5vw;
    @media (max-width: 1000px) {
      display: none;
    }
    .font__desc {
      color: rgba(106, 106, 106, 1);
      font-size: 1vw;
      display: inline-block;
      line-height: 1.6;
      margin-top: 1vw;
    }
  }
}

.spot__card__wrapper {
  background-size: cover;
  border-radius: 7px;
  background-color: transparent;
  padding: 2vw;
  color: white;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1;
  @media (max-width: 1000px) {
    flex: none;
    width: 268px;
    height: 279px;
    margin-right: 20px;
    padding: 20px;
  }
  span {
    &.spot__title {
      font-size: 2vw;
      font-weight: 900;
      @media (max-width: 1000px) {
        font-size: 2rem;
      }
    }
    &.spot__subtitle {
      font-size: 1vw;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.7);
      @media (max-width: 1000px) {
        font-size: 1rem;
      }
    }
  }
}

.resort__best__section__wrapper {
  padding: 5vw 10vw;
  background-color: rgba(248, 248, 248, 1);
  @media (max-width: 1000px) {
    padding: 60px 0;
  }
  .promotion__cards__wrapper {
    @media (max-width: 1000px) {
      display: none;
    }
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5vw;
    .recommend__card__wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5vw;
      margin-bottom: 10px;
      .recommend__image__wrapper {
        width: 100%;
        aspect-ratio: 1.1;
        @media (max-width: 1000px) {
          aspect-ratio: 1.05;
        }
        border-radius: 7px;
        overflow: hidden;
        margin-bottom: 1.2vw;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .recommend__card__title {
        @media (max-width: 1000px) {
          font-size: 20px;
        }
        font-size: 2vw;
        font-weight: 700;
        color: rgba(51, 51, 51, 1);
      }
      .recommend__card__info {
        @media (max-width: 1000px) {
          margin-top: 10px;
        }
        display: flex;
        gap: 1vw;
        span {
          font-size: 1vw;
          @media (max-width: 1000px) {
            font-size: 14px;
          }
          color: rgba(119, 119, 119, 1);
        }
        .recommend__rating__wrapper {
          width: 5vw;
          @media (max-width: 1000px) {
            width: 60px;
            padding-top: 3px;
          }
        }
      }
      .promotion__duedate {
        margin-top: 0.5vw;
        font-size: 1vw;
        @media (max-width: 1000px) {
          font-size: 14px;
        }
        color: rgba(119, 119, 119, 1);
      }
    }
  }
  .promotion__mobile__card__wrapper {
    margin-right: 20px;
    flex: none;
    width: 282px;
    height: 350px;
    .recommend__image__wrapper {
      width: 282px;
      height: 270px;
    }
    .recommend__card__title {
      margin-top: 10px;
      font-size: 20px;
      color: rgba(255, 255, 255, 1);
    }
    .recommend__card__info {
      margin-top: 15px;
      span {
        font-size: 14px;
        color: rgba(255, 255, 255, 1);
      }
      .recommend__rating__wrapper {
        margin-left: 10px;
        width: 70px;
        padding-top: 2px;
      }
    }
  }
}