@mixin middle {
  display: flex;
  justify-content: center;
  align-items: center;
};

.DocumentReserve {
  padding: 30px;
  width: 793.7px;

  .d-cover {
    width: 793.7px;
    min-height: 1122.5px;
    border: 2px solid #cbcbcb;
    background-color: #fff;
    padding: 50px 70px;
    box-sizing: border-box;
    
    .d-logo {
      @include middle();
      img {
        height: 30px;
      }
    }
    .d-title {
      @include middle();
      font-size: 30px;
      margin: 10px 0;
    }

    .d-select-row {
      height: 50px;
      display: flex;

      .d-select-btn {
        width: 50%;
        padding: 20px;
        @include middle();
        border-bottom: 1px solid #d7d7d7;
        p {
          font-size: 20px;
        }
      }
      .d-select-btn:hover {
        cursor: pointer;
      }
      .selected {
        border: 1px solid #d7d7d7;
        border-bottom: 2px solid #FFF;
      }
    }

    p {
      font-size: 14px;
    }

    .d-textrow {
      display: flex;
      border-bottom: 1px solid #ececec;

      .d-title {
        background-color: #e3e3e3;
        margin: 0;
        font-size: 15px;
        padding: 5px 0;

        h3 {
          font-weight: bold;
        }
      }
      .textalign {
        display: flex;
        align-items: center;
        p {
          margin: 0 10px;
        }
      }
      h4 {
        min-height: 35px;
        display: flex;
        align-items: center;
      }
      .box-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding: 0 10px;
        box-sizing: border-box;
        border-bottom: 1px solid #ececec;

        .box-one {
          min-width: 100px;
          text-align: center;
        }
        .divider {
          width: 1px;
          height: 100%;
          background-color: #d3d3d3;
        }
      }
 
      .d-chart-box {
        display: flex;

        .d-chart-divider-row {
          height: 1px;
          background-color: #d4d4d4;
        }
        .d-chart-divider {
          width: 2px;
          background-color: #d4d4d4;
        }
        .sort {
          width: 100px;
        }
        .item {
          width: 100px;
        }
        .d-chartbox {
          @include middle();
          min-height: 30px;

          .d-charttext {
            flex: 1;
            text-align: center;
          }
          .d-chart-textdivider {
            width: 2px;
            min-height: 30px;
            background-color: #d3d3d3;
          }
          
        }
        
      }
    }
    .d-input {
      font-size: 15px;
      font-weight: normal;
      height: 30px;
      margin: 2px 0 2px 5px;
      text-align: left;
      border: 1px solid #E9E9E9;
      box-sizing: border-box;
      border-radius: 5px;
      padding-left: 10px;
    }
    

    // Selectbox
    .css-8j3ipn-control {
      

      .css-1fdsijx-ValueContainer {
        
  
        .css-qbdosj-Input {
        
        }
      }
      .css-1hb7zxy-IndicatorsContainer {

        .css-1u9des2-indicatorSeparator {
          display: none;
        }
        .css-1xc3v61-indicatorContainer {
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
  
          svg {
            margin: 0;
            width: 20px;
            height: 15px;
          }
        }
      }
    }
    
    .d-selectbtn-box {
      @include middle();
      margin: 20px 0;

      .d-selectbtn {
        width: 15%;
        padding: 5px 15px;
        border: 1px solid #cbcbcb;
        border-radius: 5px;
        margin: 0 5px;
        text-align: center;
      }
      .d-selectbtn:hover {
        cursor: pointer;
        border: 1px solid #a6a6a6;
      }
    }


    .d-btn-box {
      @include middle();
      margin-bottom: 20px;

      .d-btn {
        width: 20%;
        border: 1px solid #cbcbcb;
        @include middle();
        padding: 3px 10px;
        margin: 0 10px;
        border-radius: 5px;

        p {
          font-size: 14px;
        }
      }
    }

    .datebox {
      @include middle();
      padding: 20px;
    }
  }

  .d-btn-box2 {
    margin-top: 20px;
    @include middle();
    margin-bottom: 100px;

    .d-btn2 {
      width: 100px;
      height: 30px;
      border: 1px solid #cbcbcb;
      @include middle();
      padding: 3px 10px;
      margin: 0 10px;
      border-radius: 5px;

      p {
        font-size: 14px;
      }
    }
  }
  .d-selectbtn-box {
    @include middle();
    margin: 50px 0;

    .d-selectbtn {
      width: 15%;
      padding: 5px 15px;
      border: 1px solid #cbcbcb;
      border-radius: 5px;
      margin: 0 5px;
      text-align: center;
      background-color: #fff;
    }
    .d-selectbtn:hover {
      cursor: pointer;
      border: 1px solid #a6a6a6;
    }
  }

}