@mixin middle {
  display: flex;
  justify-content: center;
  align-items: center;
};


.searchbox {
  @include middle();
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 40px;
  

  .cover {
    display: flex;
    width: 100%;
    background-color: #fff;    
    border: 1px solid #cfcfcf;

    .content {
      width: calc(100% - 120px);
      height: 60px;
      display: flex;
      align-items: center;
      padding: 0 10px;


      .btn-row {
        display: flex;
        margin: 0 10px;

        .btnbox {
          padding: 7px 7px;
          border: 1px solid #E9E9E9;
          border-radius: 5px;
          margin: 0 5px;
         p {
            font-size: 13px;
          }
        }
        .btnbox:hover {
          cursor: pointer;
          background-color: #e2e2e2;
        }
      }
      .inputdefault {
        margin-left: 5px; 
        text-align: left;
        padding-left: 10px;
       }
       .checkInputCover {
        display: flex;
        align-items: center;
        margin-right: 10px;

        .checkInput {
          width: 30px;
          height: 30px; 
          display: flex;
          align-items: center; 
          justify-content: center;
  
          .input {
            width: 20px;
            height: 20px;
          }
        }
        p {
          font-size: 14px;
        }
      }
      .buttons {
        @include middle();
    
        .btn {
          padding: 7px 35px;
          border: 1px solid #E9E9E9;
          margin: 0 5px;
          border-radius: 5px;
        }
        .searching {
          background-color: #4f5460;
          p {
            color: #fff;
          }
        }
        .reset {
          background-color: #fff;
          p {
            color: #333;
          }
        }
        .btn:hover {
          cursor: pointer;
          border: 1px solid #333;
        }
      }
    }
    
  }
 
  
  
}


@media screen and (max-width : 600px) { 
  
  
}

  

  