@mixin middle {
  display: flex;
  justify-content: center;
  align-items: center;
};

.Main-cover {
  padding: 30px;
  min-height: 100vh;
  background-color: #f6f6f6;
  padding-bottom: 50px;
  
  .seachlist {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .main-title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px auto 10px;
     
      .contactBtn-box {
        display: flex;
        align-items: center;
  
        .contactBtn {
          padding: 5px 15px;
          border: 1px solid #b1b1b1;
          margin: 0 5px;
          border-radius: 5px;
          background-color: #fff;
        }  
      }
  
    }
    .main-list-cover {
      width: 100%;

      .titlebox {
        height: 45px;
        display: flex;
        justify-content: space-between;
        background-color: #f6f6f6;
        padding: 0 5px;
        border-top: 2px solid #333;
        border-bottom: 2px solid #acacac;
      }
      .rowbox {
        display: flex;
        align-items: center;
        height: 45px;
        justify-content: space-between;
        background-color: #fff;;
        border-bottom: 1px solid #E2E2E2;
        padding: 0 5px;
      }
      .rowbox:hover {
        cursor: pointer;
        background-color: #eaf3f9;
      }
    }


    .btn-row {
      width: 100%;
      margin: 20px 0;
      @include middle();

      .btn {
        font-size: 13px;
        width: 20px;
        height: 20px;
        margin: 7px;
        color: #979797;
        @include middle();
      }
      .current {
        color: #2c3d54;
        border-bottom: 2px solid #2c3d54;;
      }
      .btn:hover {
        cursor: pointer;
        color: #2c3d54;
      }
    }
  }
 
 
}


@media screen and (max-width : 600px) { 
  
  
}

  

  