@mixin middle {
  display: flex;
  justify-content: center;
  align-items: center;
};

.Menu5 {
  height: auto;
  background-color: #f6f6f6;
  padding: 30px;
  min-height: 100vh;

  .main-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    margin: 15px auto;

    .title-box {

      h1 {
        font-size: 30px;
        font-weight: bold;
      }
    }
  }

  .topRow {
    position: relative;
    height: 50px;

    .tabSelectBtnBox {
      display: flex;
      width:100%; 
      align-items: flex-start;
      padding-left: 10px;
      border-bottom: 1px solid #e0e0e0;
      margin-bottom: 20px;
  
      .selectBtn {
        font-size: 14px;
        width: 100px;
        @include middle();
        flex-direction: column;
        padding-top: 10px;
        
        p {
          font-size: 18px;
          font-weight: 600;
        }
        .bar {
          width: 80px; 
          height: 3px; 
          background-color: #fff;
          margin-top:10px;
        }
      }
      .selectBtn:hover {
        cursor: pointer;
      }
    }

    .addBtn {
      position: absolute;
      right: 0;
      top: 10px;
      width: 120px;
      height: 30px;
      @include middle();
      background-color: #fff;
      border: 1px solid #dddddd;
      border-radius: 5px;

      p {
        margin-left: 5px;
      }
    }
    .addBtn:hover {
      cursor: pointer;
      background-color: #e7e7e7;
    }
  }
  
  // 

  .continentBtnbox {
    display: flex;
    margin: 50px 10px;
    justify-content: space-between;

    .continentNtn {
      width: 10%;
      padding: 5px 10px;
      border: 1px solid #8C8C8C;
      border-radius: 5px;
      margin: 0 5px;
      @include middle();
    }
    .continentNtn:hover {
      cursor: pointer;
    }
  }

  .nationbox {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 30% 30% 30%;
    padding: 10px;

    .nation {
      width: 100%;
      padding: 10px;

      .nation__titlebox {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        justify-content: space-between;

        .nation__title_leftbox {
          display: flex;
          align-items: center;

          .nation__title {
            font-size: 20px;
            font-weight: 600;
            margin-right: 10px;  
          }
          .nation__title_addBtn {
            @include middle();
            padding: 5px;
            border: 1px solid #c2c2c2;
            border-radius: 3px;
            background-color: #fff;
          }
          .nation__title_addBtn:hover {
            cursor: pointer;
            background-color: #ededed;
          }
        }
        .nation__title_rightbox {
          @include middle();
          padding: 5px;
        }
        .nation__title_rightbox:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }

      .nation__cities{
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        background-color: #fff;
        flex-direction: column;

        .cities__row {
          margin: 15px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .reviseBtn {
            .divider {
              width: 2px;
              height: 10px;
              background-color: #c7c7c7;
              margin: 0 10px;
            }
            p {
              font-size: 14px;
            }
            p:hover {
              cursor: pointer;
            }
          }
          
        }
      }
    }    
  }


  .seachlist {
    display: flex;
    flex-direction: column;
    align-items: center; 

    .main-list-cover-hotel {
      width: 100%;

      .titlebox {
        display: flex;
        justify-content: space-between;
        background-color: #f6f6f6;;
        padding: 0 5px;
        border-top: 2px solid #333;
        border-bottom: 2px solid #acacac;
      }
      .rowbox {
        display: flex;
        align-items: center;
        height: 70px;
        justify-content: space-between;
        background-color: #fff;;
        border-bottom: 1px solid #E2E2E2;
        padding: 0 5px;

        .text {

          .hotelControlBtn {
            width: 80px;
            padding: 3px 10px;
            border: 1px solid #d5d5d5;
            border-radius: 5px;
            margin: 0 5px;
            font-size: 14px;
          }
          .hotelControlBtn2 {
            width: 50px;
            margin: 0 5px;
            font-size: 14px;
          }
          .divider {
            width: 1px;
            height: 15px;
            background-color: #8C8C8C;
          }
          .hotelControlBtn:hover,
          .hotelControlBtn2:hover {
            cursor: pointer;
            opacity: 0.6;
          }
        }
      }
    }
  }
  .Modal {

    .modal-backcover {
      position: absolute;
      width: 100vw;
      min-height: 420vh;
      top: 0;
      left: 0;
      z-index: 8;
      opacity: 0.8;
      background-color: #242d3f;
    }
    .modal-maincover {
      position: absolute;
      width: 100vw;
      min-height: 50vh;
      top: 0;
      left: 0;
      z-index: 9;
      display: flex;
      justify-content: center;
      padding-top: 50px;
    }
  
  }

  
}