.App {
  font-family: 'Pretendard';
  color: #333;
  font-weight: 500;
  line-height: 1.4;
  font-size: 16px;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  
  .menu {
    width: 245px;
    height: 100%;
    
  }
  .main {
    width: calc(100vw - 260px);
    height: 100%;
    background-color: #f0f0f0;

    .mainarea {
      
    }
  }
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
  background-color: #fff;
}


