.App {
  font-family: 'Pretendard';
  color: #333;
  font-weight: 500;
  line-height: 1.4;
  font-size: 16px;
  width: 100vw;
  min-height: 100vh;
  

  .adminCover {
    display: flex;

    .adminmenu {
      width: 245px;
      height: 100%;
    }
    .adminmain {
      width: calc(100vw - 260px);
      height: 100%;
      background-color: #fff;
  
      .adminmainarea {
        
      }
    }
  }
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
  background-color: #fff;
}

.inner {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;


}

